<!DOCTYPE html>
<html>
<head>
    <title>Secure EMR Login</title>
</head>
<body>
    <h1>Secure EMR Login</h1>

    <form method="POST" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <label>Username</label><br>
        <input type="text" name="username" autocomplete="off" autocapitalize="none" spellcheck="false" required><br><br>

        <label>Password</label><br>
        <input type="password" name="password" autocomplete="new-password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p style="color:red;">{{ error }}</p>
</body>
</html>